.metadata
.recommenders


CVS
.#*

.hg
.hgignore

src/main/webapp/app
src/main/webapp/assets
src/main/webapp/*.html

bin
obj
Debug
Release
TestResults
*.obj
*.suo
*.ncb
*.user
*.tli
*.tlh
*.idb
*.pdb
*.png
*.ucls
*.log
*.war
build
*.pbxuser
*.perspectivev3
.DS_Store
xcuserdata

*.old
*.log
*.out
*.cache
.classpath

.project
.springBeans
.settings
target